<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Assan 3.0</title>
    <!-- Plugins CSS -->
    <link href="css/plugins/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        #myMap {
            height: 700px;
            width: 800px;
        }
    </style>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoxO7xzcP7R1W1fGxp2ysJ-DXpDH1wLhk&libraries=places">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <script type="text/javascript">
        var map;
        var marker;
        var myLating = new google.maps.LatLng(40.184741449021686, 44.50676410156257);
        var geocoder = new google.maps.Geocoder();
        var infowindow = new google.maps.InfoWindow();

        function initialize() {
            var mapOptions = {
                zoom: 7,
                center: myLating,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('myMap'), mapOptions);

            marker = new google.maps.Marker({
                map: map,
                position: myLating,
                draggable: true
            });

            geocoder.geocode({'latLng': myLating}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        $('#latitude,#longitude').show();
                        $('#address').val(results[0].formatted_address);
                        $('#address1').val(results[0].formatted_address);
                        $('#latitude').val(marker.getPosition().lat());
                        $('#longitude').val(marker.getPosition().lng());
                        infowindow.setContent(results[0].formatted_addres);
                        infowindow.open(map, marker);
                    }
                }
            });
            google.maps.event.addListener(marker, 'dragend', function () {
                geocoder.geocode({'latLng': marker.getPosition()}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            $('#address').val(results[0].formatted_address);
                            $('#address1').val(results[0].formatted_address);
                            $('#latitude').val(marker.getPosition().lat());
                            $('#longitude').val(marker.getPosition().lng());
                            infowindow.setContent(results[0].formatted_addres);
                            infowindow.open(map, marker);
                        }
                    }
                });
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</head>

<body>
<div id="preloader">
    <div id="preloader-inner"></div>
</div><!--/preloader-->

<!-- Pushy Menu -->
<aside class="pushy pushy-right">
    <div class="cart-content">
        <div class="clearfix">
            <a href="javascript:void(0)" class="pushy-link text-white-gray">Close</a>
        </div>
        <ul class="list-unstyled">
            <li class="clearfix">
                <a href="page-register" class="float-left">
                    <img src="images/shop/p1.jpg" class="img-fluid" alt="" width="60">
                </a>
                <div class="oHidden">
                    <span class="close"><i class="ti-close"></i></span>
                    <h4><a href="page-register">Men's Special Watch</a></h4>
                    <p class="text-white-gray"><strong>$299.00</strong> x 1</p>
                </div>
            </li><!--/cart item-->
            <li class="clearfix">
                <a href="page-register" class="float-left">
                    <img src="images/shop/p2.jpg" class="img-fluid" alt="" width="60">
                </a>
                <div class="oHidden">
                    <span class="close"><i class="ti-close"></i></span>
                    <h4><a href="page-register">Men's tour beg</a></h4>
                    <p class="text-white-gray"><strong>$99.00</strong> x 1</p>
                </div>
            </li><!--/cart item-->
            <li class="clearfix">
                <a href="page-register" class="float-left">
                    <img src="images/shop/p3.jpg" class="img-fluid" alt="" width="60">
                </a>
                <div class="oHidden">
                    <span class="close"><i class="ti-close"></i></span>
                    <h4><a href="page-register">Women's T-shirts</a></h4>
                    <p class="text-white-gray"><strong>$199.00</strong> x 1</p>
                </div>
            </li><!--/cart item-->
            <li class="clearfix">

                <div class="float-right">
                    <a href="page-register" class="btn btn-primary">Checkout</a>
                </div>
                <h4 class="text-white">
                    <small>Subtotal -</small>
                    $49.99
                </h4>
            </li><!--/cart item-->
        </ul>
    </div>
</aside>
<!-- Site Overlay -->
<div class="site-overlay"></div>

<nav class="navbar navbar-expand-lg navbar-light navbar-transparent  navbar-semi-transparent bg-faded">
    <div class="search-inline">
        <form>
            <input type="text" class="form-control" placeholder="Type and hit enter...">
            <button type="submit"><i class="ti-search"></i></button>
            <a href="javascript:void(0)" class="search-close"><i class="ti-close"></i></a>
        </form>
    </div><!--/search form-->
    <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.html">
            <img class='logo logo-dark visible-md-up  hidden-lg-up' src="images/logo.png" alt="">
            <!--<img class='logo logo-light hidden-xs-down hidden-sm-down hidden-md-down' src="images/logo-light.png" alt="">-->
        </a>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="index-01" class="nav-link">Գլխավոր էջ</a>

                </li>

            </ul>
        </div>
        <div class=" navbar-right-elements">

        </div><!--right nav icons-->
    </div>
</nav>
<div class="bg-parallax parallax-overlay accounts-page" data-jarallax='{"speed": 0.2}'
     style='background-image: url("images/bg6.jpg")'>
    <div class="container">
        <div style="float: left;width: 36%; height: 20px;">
            <div id="myMap" ></div>
            <input id="address" type="text" style="width: 400px;"/><br/>
            <!--<input type="text" id="latitude" placeholder="Latitude"/>-->
            <!--<input type="text" id="longitude" placeholder="Longitude"/>-->
        </div>
        <div class="row pb30 align-items-end">

            <div class="col-lg-4 ml-md-auto col-md-6 col-sm-6 mb20">



                <div >
                    <h3 class="text-white text-left mb30">Ստեղծել նոր իրադարձություն</h3>
                    <form th:action="@{/add-event}" method="post" th:object="${event}" enctype="multipart/form-data"
                          onsubmit=" return f()">
                        <div class="form-group1">
                            <input type="text" class="form-control" th:field="*{eventName}" placeholder="Անուն">
                        </div>
                        <div class="form-group1">
                            <input type="text" class="form-control" th:field="*{otherInfo}"
                                   placeholder="Այլ ինֆորմացիա">
                        </div>
                        <div class="form-group1">
                            <label style="color: #ffffff">Իմ տեսանելիությունը </label><br>
                            <input type="radio" name="a" value="true" th:field="*{createrVisibility}" checked
                                   style="color: #ffffff">Բաց
                            <input type="radio" name="a" value="false" th:field="*{createrVisibility}"> Փակ<br>
                        </div>
                        <div class="form-grou1">
                            <label style="color: #ffffff">Իրադարձության տեսանելիությունը </label><br>
                            <input type="radio" name="a" value="true" th:field="*{eventAccessType}" checked
                                   style="color: #ffffff">Բաց
                            <input type="radio" name="a" value="false" th:field="*{eventAccessType}"> Փակ<br>
                        </div>
                        <!--<div class="form-group1">-->
                            <!--<input type="text" class="form-control" th:field="*{occurAddress}" placeholder="Հասցե">-->
                        <!--</div>-->
                        <div class="form-group1">
                            <input type="text" class="form-control" th:field="*{maxCountPerson}"
                                   placeholder="Մարդկանց առավելագույն թիվը">
                        </div>
                        <div class="form-group1">
                            <label style="color: #ffffff"> Տեղի ունենալու օր / ամիս / տարի /ժամ </label>
                            <input type="datetime-local" th:field="*{occurDate}">
                        </div>
                        <div class="form-group1">
                            <label style="color: #ffffff"> Ավելացնել լուսանկար </label>
                            <input type="file" name="picture">
                        </div>
                        <!--<div class="form-group1">-->
                            <!--<select th:field="*{eventStatus}">-->
                                <!--<option th:each="s:${allstatus}" th:value="${s.id}" th:text="${s.status}"></option>-->
                                <!--&lt;!&ndash;<option th:value="'F'" th:text="Female"></option>&ndash;&gt;-->
                            <!--</select>-->
                        <!--</div>-->
                        <div>
                            <input type="hidden" id="latitude" placeholder="Latitude" th:field="*{latitude}"/>
                            <input type="hidden" id="longitude" placeholder="Longitude" th:field="*{longitude}"/>
                            <input id="address1" type="hidden" style="width: 400px;" th:field="*{occurAddress}"/><br/>
                        </div>
                        <div class="form-group1">
                            <button type="submit" class="btn btn-rounded btn-primary btn-block">Ավելացնել</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="footer footer-dark pt50 pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  ml-auto mr-auto text-center">
                <ul class="social-icons list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/ars.systems5/">
                            <i class="fa fa-facebook"></i>Facebook
                        </a>
                    </li>

                </ul>
                <h4><i class="fa fa-phone"></i> 1800-355-4322</h4>
                <h4><i class="fa fa-envelope"></i> arssystems@gmail.com</h4>
                <p>&copy; Copyright 2018. Ars Systems</p>
            </div>
        </div>
    </div>
</footer>

<!--back to top-->
<a href="page-register" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="js/plugins/plugins.js"></script>
<script src="js/assan.custom.js"></script>
<script>
    function f() {
        var pass = document.getElementById("password").value;
        var confirm = document.getElementById("cpassword").value;
        var email = document.getElementById("email");
        var reg = new RegExp(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
        if (!reg.test(email.value)) {
            email.style.backgroundColor = "blueviolet"
        }
        if (pass !== confirm) {
            document.getElementById("cpassword").value = "";
            document.getElementById("password").value = "";
            document.getElementById("cpassword").placeholder = "please repeat your password";
            document.getElementById("password").placeholder = "please input your password";
            document.getElementById("cpassword").style.backgroundColor = "red";
            document.getElementById("password").style.backgroundColor = "red";
            return false;
        }
    }
</script>


</body>
</html>
