<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Հաղորդագրություններ</title>
    <link rel="icon" type="image/jpg" href="images/logo-light.jpg">

</head>
<body style="margin: 0px; padding: 0px;">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="jsCode/face_messages.js"></script>
<input type="hidden" th:value="${currentUserId}" id="currentUserId">
<div style="float: left; width: 30%; height: 100vh;background-color: #cee5e0; overflow: auto" id="containerMessages">
    <div class="cikl" th:each="c:${messageList}" onmouseover="func1(this)" onmouseout="func2(this)"  style="height: 50px" onclick="count(this.children[5].children[0]);seeMessages(this.children[0].value, this.children[1].value, (this.children[4]).children[0],this.children[2].value)">
        <input type="hidden" th:value="${c.message.event.id}">
        <input type="hidden" th:value="${c.message.toUser.id}">
        <input type="hidden" th:value="${c.message.event.createrUser.id}">
        <div style="float: left; width: 33%" >
            <div th:if="${c.message.event.createrUser.id==currentUser.id}"><p th:text="${c.message.toUser.nickname}"></p></div>
            <div th:if="${c.message.event.createrUser.id!=currentUser.id}"><p th:text="${c.message.event.createrUser.nickname}"></p>
            </div>
        </div>
        <div style="float: left; width: 33%"><p th:text="${c.message.event.eventName}"></p></div>
        <div style="float: left; width: 33%" th:if="${c.notReadingCount!=0}"><p  th:text="${c.notReadingCount}"></p></div>
        <div style="float: left; width: 33%" th:if="${c.notReadingCount==0}"><p text=""></p></div>
    </div>
</div>
<div style="float: right; width: 70%;height: 100%;  border-color: #720E9E;">
    <div id="allMessages" class="allMessages" style=" background-color: #dae5e5; height: 96vh; overflow: auto" onscroll="scrollFunction()">
        <p id="p_Messages" style="transform: translateY(-50%); position:relative; top: 50%; text-align: center; margin: auto"> Ընտրել համապատասխան օգտատերին</p>
    </div>
    <textarea class="textarea" placeholder="Մուտգագրեք հաղորդագրություն" style="float: left;max-width: 80%; width: 100%" id="messageText"></textarea>
    <input type="button" value="Ուղարկել" style="float: right;max-width: 19%; width: 100%; height: 38px" onclick="sendMessage()">

</div>
<script>
    $(document).ready(function () {
        var x = $('.center').height() - $('.textarea').height()
        console.log(x)
        $('.center').css('height', x - 4)
    })

    function func1(a) {
        a.style.backgroundColor = "#99BECC";
    }

    function func2(a) {
        a.style.backgroundColor = "#cee5e0";
    }
</script>
</body>
</html>