<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Assan 3.0</title>    
        <!-- Plugins CSS -->
        <link href="css/plugins/plugins.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
           <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->

        <div class="fullscreen bg-parallax  accounts-page" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg11.jpg")'>
            <div class="d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6  ml-auto mr-auto col-md-8 col-sm-10">
                            <div class="text-center mb30">

                            </div>
                             <h3 class="text-center text-uppercase">Անձնական էջի վերականգնում</h3>
                             <p class="lead text-center">Մուտքագրեք ձեր էլ-փոստի հասցեն, վերականգնման հղումը ստանալու համար</p>
                             <form action="validMail" method="post">
                                <div class="row mb30">
                                    <div class="col-sm-12 mb10">
                                        <input type="email" placeholder="Էլ- հասցե" class="form-control" name="email">
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary btn-rounded btn-block" type="submit">Ուղարկել</button>
                                    </div>
                                </div>
                                <!--end of row-->
                            </form>
                             <div class="account-links">Ձեր էլ- հասցեին ուղարկվել է գաղտնաբառը վերականգնելու հղումը
                              
                            </div>
                            <div class="account-links" >
                                <!--th:if="${!userFound}"-->
                                <h2 th:switch="${userFound}">
                                    <marquee behavior="alternate"> <h2 th:case="false" style="color: #0d397c">Սխալ մուտքագրված էլ-հասցե</h2></marquee>
                                </h2>
                                <!--<h2 style="color: #7c1212" th:text="${userNotFound.toString()}"></h2>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="js/plugins/plugins.js"></script> 
        <script src="js/assan.custom.js"></script> 
    </body>
</html>
