<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Իրադարձությունների վերահսկում</title>
    <!--<style>-->
        <!--.background {-->
            <!--height: 200px;-->
            <!--width: 100%;-->
            <!--background-image:  url("bg_image.jpg");-->
            <!--background-color: #cccccc;-->
        <!--}-->
    <!--</style>-->
    <link rel = "stylesheet"
          type = "text/css"
          href = "../static/css/css.css" />
</head>

<body >

<div class="background">

jhedhdfh

</div>
</body>
</html>