<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Assan 3.0</title>
        <!-- Plugins CSS -->
        <link href="css/plugins/plugins.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->

        <!-- Pushy Menu -->
        <aside class="pushy pushy-right">
            <div class="cart-content">
                <div class="clearfix">
                    <a href="javascript:void(0)" class="pushy-link text-white-gray">Close</a>
                </div>
                <ul class="list-unstyled">
                    <li class="clearfix">
                        <a href="page-register" class="float-left">
                            <img src="images/shop/p1.jpg" class="img-fluid" alt="" width="60">
                        </a>
                        <div class="oHidden">
                            <span class="close"><i class="ti-close"></i></span>
                            <h4><a href="page-register">Men's Special Watch</a></h4>
                            <p class="text-white-gray"><strong>$299.00</strong> x 1</p>
                        </div>
                    </li><!--/cart item-->
                    <li class="clearfix">
                        <a href="page-register" class="float-left">
                            <img src="images/shop/p2.jpg" class="img-fluid" alt="" width="60">
                        </a>
                        <div class="oHidden">
                            <span class="close"><i class="ti-close"></i></span>
                            <h4><a href="page-register">Men's tour beg</a></h4>
                            <p class="text-white-gray"><strong>$99.00</strong> x 1</p>
                        </div>
                    </li><!--/cart item-->
                    <li class="clearfix">
                        <a href="page-register" class="float-left">
                            <img src="images/shop/p3.jpg" class="img-fluid" alt="" width="60">
                        </a>
                        <div class="oHidden">
                            <span class="close"><i class="ti-close"></i></span>
                            <h4><a href="page-register">Women's T-shirts</a></h4>
                            <p class="text-white-gray"><strong>$199.00</strong> x 1</p>
                        </div>
                    </li><!--/cart item-->
                    <li class="clearfix">

                        <div class="float-right">
                            <a href="page-register" class="btn btn-primary">Checkout</a>
                        </div>
                        <h4  class="text-white">
                            <small>Subtotal - </small> $49.99
                        </h4>
                    </li><!--/cart item-->
                </ul>
            </div>
        </aside>
        <!-- Site Overlay -->
        <div class="site-overlay"></div>

        <nav class="navbar navbar-expand-lg navbar-light navbar-transparent  navbar-semi-transparent bg-faded">
            <div class="search-inline">
                <form>
                    <input type="text" class="form-control" placeholder="Type and hit enter...">
                    <button type="submit"><i class="ti-search"></i></button>
                    <a href="javascript:void(0)" class="search-close"><i class="ti-close"></i></a>
                </form>
            </div><!--/search form-->
            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img class='logo logo-dark visible-md-up  hidden-lg-up' src="images/logo.png" alt="">
                    <!--<img class='logo logo-light hidden-xs-down hidden-sm-down hidden-md-down' src="images/logo-light.png" alt="">-->
                </a>
                <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a href="/home" class="nav-link" >Գլխավոր էջ</a>

                        </li>

                    </ul>
                </div>
                <div class=" navbar-right-elements">
                    <!--<ul class="list-inline">-->
                        <!--<li class="list-inline-item"><a href="javascript:void(0)" class="search-open"><i class="ti-search"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="javascript:void(0)" class=" menu-btn"><i class="ti-shopping-cart"></i> <span class="badge badge-default">3</span></a></li>-->
                    <!--</ul>-->
                </div><!--right nav icons-->
            </div>
        </nav>
        <div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg6.jpg")'>
            <div class="container">
                <div class="row pb30 align-items-end">
                    <div class="col-lg-4 ml-md-auto col-md-6 col-sm-6 mb20">
                        <h3 class="text-white text-left mb30">Անվճար գրանցում</h3>
                        <form    th:action="@{/register}" method="post" th:object="${user}" enctype="multipart/form-data"
                              onsubmit=" return f()">
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{nickname}"  placeholder="Անուն">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" th:field="*{username}" placeholder="Էլ - հասցե">
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" class="form-control" th:field="*{password}" placeholder="Գաղտնաբար">
                            </div>
                            <div class="form-group">
                                <input type="password" id="cpassword" class="form-control" placeholder="Կրկնել գաղտնաբառը">
                            </div>
                            <div class="form-group">
                                <label style="color: #ffffff"> Ծննդյան օր / ամիս / տարի        </label>
                                <input type="date"  th:field="*{date}">
                            </div>
                            <div class="form-group">
                                <label style="color: #ffffff"> Ավելացնել լուսանկար   </label>
                                <input type="file" name="picture"  >
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-rounded btn-primary btn-block">Գրանցվել</button>
                            </div>
                            <div class="text-center text-white-gray">Արդեն ունեք անձնական էջ? Մուտք ներքևից</div>
                            <hr>
                            <div>
                                <a href="page-login" class="btn btn-white-outline btn-block">Մուտք</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-dark pt50 pb30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  ml-auto mr-auto text-center">
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/ars.systems5/">
                                    <i class="fa fa-facebook"></i>Facebook
                                </a>
                            </li>
                        </ul>
                        <h4><i class="fa fa-phone"></i> 1800-355-4322</h4>
                        <h4><i class="fa fa-envelope"></i> arssystems@gmail.com</h4>
                        <p>&copy; Copyright 2018. Ars Systems</p>
                    </div>
                </div>
            </div>
        </footer>

        <!--back to top-->
        <a href="page-register" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="js/plugins/plugins.js"></script>
        <script src="js/assan.custom.js"></script>
        <script>
            function f() {
                var pass = document.getElementById("password").value;
                var confirm = document.getElementById("cpassword").value;
                var email = document.getElementById("email");
                var reg = new RegExp(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
                if(!reg.test(email.value)){
                    email.style.backgroundColor = "blueviolet"
                }
                if(pass !== confirm){
                    document.getElementById("cpassword").value = "";
                    document.getElementById("password").value = "";
                    document.getElementById("cpassword").placeholder = "please repeat your password";
                    document.getElementById("password").placeholder = "please input your password";
                    document.getElementById("cpassword").style.backgroundColor= "red";
                    document.getElementById("password").style.backgroundColor= "red";
                    return false;
                }
            }
        </script>
    </body>
</html>
